.pio/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/ipch/

build/
cmake-build-*/

sdkconfig
sdkconfig.*
!sdkconfig.defaults
sdkconfig.old
managed_components/

include/config/wifi_secrets.hpp

*.bin
*.elf
*.map
*.hex

*.log
*.tmp
Thumbs.db
